html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: visible;

}
footer {
  position:fixed;
  bottom:0;
  width:100%;
  height: auto;
     /* Height of the footer */
}

h2 {
  background: #696969;
  background: -webkit-linear-gradient(to right, #696969, #696969);
  background: linear-gradient(to right, #696969, #696969);
  -webkit-background-clip: text;
  background-clip: text; 
  color: transparent;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
